*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --color-primary : purple;
    --color-gray : #ccc;
    --color-dark : #000;
    --color-white : #fff
}

body{
    background-color: var(--color-gray);
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

ul{
    list-style: none;
}

a:is(:link, :visited){
    text-decoration: none;
    color: var(--color-dark);
}

.header{
    background-color: var(--color-dark);
    height: 400px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.site-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.site-info h1{
        text-transform: uppercase;
}

.site-info p{
    font-style: italic;
}

.navbar{
    background-color: var(--color-primary);
}

.navbar ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.navbar li a:is(:link, :visited){
    display: block;
    padding: 10px;
    font-size: 24px;
    font-weight: 700px;
    transition: all 0.5s ease-in;
}

.navbar li a:is(:hover, :focus, :active){
    background-color: var(--color-dark);
    color: var(--color-primary);
}



/* main content area css */

.content-area{
    display: flex;
    flex-direction: column;
}

.main-content-area{
    padding: 10px;
}



.post{
    background-color: var(--color-white);
    margin-bottom: 20px;
    position: relative;
}

.post figure{
    display: flex;
    flex-direction: column;
}

.post img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.post h2{
    background-color: var(--color-primary);
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

.post p{
    padding: 10px;
}

.post a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* ............watch now css ............*/

.section-heading{
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
    margin: 15px 0;
}

.watchCard{
    background-color: var(--color-dark);
    color: var(--color-white);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.watchCard img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.watchCard figcaption{
    padding: 20px;
    align-self: center;
}

.watchCard h3{
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
}

.watchCard figcaption ul{
    display: flex;
    margin: 10px 0;
}

.watchCard ul li{
    margin-right: 10px;
    flex-wrap: wrap;
}

.watchCard figcaption a{
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}




/* .......................download now css............ */


.downloadCard{
    background-color: var(--color-dark);
    color: var(--color-white);
}

.downloadCard .downloadContent{
     display: flex;
    flex-direction: column;
}

.downloadCard .downloadImg img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.downloadCard a.downloadLink{
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 28px;
    text-transform: capitalize;
}

.downloadCard .downloadCast{
    display: flex;
}

.downloadCard .downloadGenre{
    display: flex
}

.downloadCard .downloadCast, 
.downloadCard .downloadGenre{
    padding: 10px;
    flex-wrap: wrap;
}

.downloadCard .downloadGenre h4,
.downloadCard .downloadCast h4{
    flex: 0 0 60px;
    /* padding: 20px; */
    align-self: center;
}

.downloadCard .downloadCast img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
}

.downloadCard .downloadInfo{
    background-color: var(--color-white);
    color: var(--color-dark);
}

.downloadCard .downloadRating{
    background-color: var(--color-primary);
    color: var(--color-dark);
    padding: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 768px){
    .navbar ul{
        flex-direction: row;
    }

    .navbar ul li{
        flex-grow: 1;
    }

    .posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .post{
        width: 49%;
    }

    .oneThird{
        width: 32%;
    }

    .one{
        flex-grow: 1;
    }

    .watchCard{
        flex-direction: row;
    }

    .watchCard img{
        width: 400px;
        flex: 0 0 400px;
    }

    .watchCard:nth-of-type(even){
        flex-direction: row-reverse;
    }
}

@media all and (min-width: 1180px){
    .navbar ul{
        flex-direction: row;
    }

    .navbar ul li{
        flex-grow: 1;
    }

   .content-area{
    flex-direction: row;
   }

   .sidebar{
    flex: 0 0 400px;
   }

   .main-content-area{
    flex-grow: 1;
   }

     .posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    .post{
        width: 49%;
    }

    .oneThird{
        width: 32%;
    }

    .one{
        flex-grow: 1;
    }

    .watchCard{
        flex-direction: row;
    }

    .watchCard img{
        width: 400px;
        flex: 0 0 400px;
    }

    .watchCard:nth-of-type(even){
        flex-direction: row-reverse;
    }

   .downloadCard .downloadContent{
        flex-direction: row;
    }

    .downloadCard .downloadInfo{
        flex-grow: 1;
    }
}