*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary : purple;
    --color-gray : #ededed;
    --color-dark : #000;
    --color-white : #fff
}

ul{
    list-style: none;
}

a:is(:link, :visited){
    text-decoration: none;
    color: var(--color-dark);
}

.header{
    background-color: var(--color-dark);
    height: 400px;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.site-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.site-info h1{
        text-transform: uppercase;
}

.site-info p{
    font-style: italic;
}

.navbar{
    background-color: var(--color-primary);
}

.navbar ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.navbar li a:is(:link, :visited){
    display: block;
    padding: 10px;
    font-size: 24px;
    font-weight: 700px;
    transition: all 0.5s ease-in;
}

.navbar li a:is(:hover, :focus, :active){
    background-color: var(--color-dark);
    color: var(--color-primary);
}

@media all and (min-width: 768px){
    .navbar ul{
        flex-direction: row;
    }

    .navbar ul li{
        flex-grow: 1;
    }
}

@media all and (min-width: 1180px){
    .navbar ul{
        flex-direction: row;
    }

    .navbar ul li{
        flex-grow: 1;
    }
}